Data Types and Structures Assignment 2

1. What are data structures, and why are they important3

A data structure is a method of organizing and storing data to enable efficient access and manipulation.

. Memory Management: Reducing space usage and avoiding redundant data storage.

. Ensuring faster processing of tasks by organizing data effectively.

. Problem Solving: Representing complex relationships and scenarios in an understandable way (e.g., trees for hierarchical data, graphs for networks).

2. Explain the difference between mutable and immutable data types with examples.

>> Mutable vs Immutable Data Types

. Mutable Data Types: These are data types whose values can be changed after creation.

. Immutable Data Types: These are data types whose values cannot be altered once they are created.

In [ ]:
# Mutable data types
My_list=[1,2,3,]
My_list[0]=10
My_list

[10, 2, 3]

In [ ]:
# Immutable data types
my_string = "hello"
my_string = my_string + " world"
my_string

'hello world'

3. What are the main differences between lists and tuples in Python.

List
You can store anything in list, it can store hetrogenous data.

List is a ordered collection of elements that can be of any data type.

List is a mutable values can be changed after creation

Defined with square brackets [ ]

Performance	Slower due to mutability

Supports more built-in methods (like append, remove)

Consumes more memory

Tuple>>

You can store anything in list, it can store hetrogenous data.

Tuple is a Immutable values can not be changed after creation

Defined with parentheses ( )

Used for fixed or constant data

Limited methods (e.g., count, index)

Consumes less memory

4. Describe how dictionaries store data.

Dictionaries in Python store data as key-value pairs, making them highly efficient for accessing values using keys.

my_dict = {"name": "Alice", "age": 25}

5.Why might you use a set instead of a list in Python.

.Sets automatically remove duplicate elements.

. Sets support mathematical operations like union, intersection, difference, and symmetric difference, which are not natively available for lists.

6. How do tuples ensure data integrity in Python.

Tuples ensure data integrity in Python 3 through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This immutability provides stability and prevents accidental changes to the data, making tuples an excellent choice for scenarios where data must remain consistent.

Features

Once initialized, you cannot alter the elements, ensuring the original data remains intact.

Tuples consume less memory compared to lists, reducing the risk of unnecessary data duplication.

7. What is a string in Python, and how is it different from a list

In Python, a string is a sequence of characters enclosed in either single quotes ' ', double quotes " ", or triple quotes ''' ''' or """ """. Strings are used to represent text and are immutable, meaning their values cannot be changed after they are created.

String

. Contains only characters (text)
. Immutable (cannot be modified)
. Enclosed in quotes
. Can be accessed using indexing (str[0])

List

. A collection of items
. Mutable (can be modified)
. Can contain any data type (e.g., int, str)
. Enclosed in square brackets [ ]
. Can also be accessed using indexing

8. What is a hash table, and how does it relate to dictionaries in Python.

A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index where values are stored, allowing fast lookups.

In Python, dictionaries use hash tables to store key-value pairs. Keys are hashed to find their location, ensuring quick operations like search, insert, and delete.


9. Can lists contain different data types in Python.

 Yes, in Python, lists can contain elements of different data types. For example:

my_list = [42, "hello", 3.14, True]

10. Explain why strings are immutable in Python.

Strings are immutable in Python because once a string is created, it cannot be changed. This design choice has several benefits:

>>. Efficiency: Since strings are widely used, immutability makes operations faster and memory-efficient. Python can safely reuse the same string in memory without creating duplicates.

11. What advantages do dictionaries offer over lists for certain tasks

Dictionaries offer several advantages over lists for specific tasks:

>> Fast Lookups: Dictionaries let you quickly find values using keys. Lists take longer because they search item by item.

>>Key-Value Storage: Dictionaries pair keys with values, making data easier to organize (e.g., names linked to phone numbers).

>>No Order Needed: Dictionaries don’t care about order, which is great when it’s not important.

12. Describe a scenario where using a tuple would be preferable over a list.

Use a tuple instead of a list when you need a fixed and unchangeable set of items. Tuples can't be modified (immutable), ensuring data stays secure and making them faster than lists for certain tasks. For example, storing coordinates like (28.6139, 77.2090) ensures they remain accurate.

13. How do sets handle duplicate values in Python.

In Python, sets automatically remove duplicate values. When you add items to a set, any duplicates are ignored, ensuring that all elements are unique.

14. How does the “in” keyword work differently for lists and dictionaries.

The in keyword works differently for lists and dictionaries in Python:

The in keyword checks if a value exists as an element in the list.

The in keyword checks if a key exists in the dictionary, not the values.

15. Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents cannot be changed, added, or removed. This immutability makes tuples safer when you want to ensure data remains constant and unaltered.

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary where one or more values are themselves dictionaries. It is useful for storing complex, hierarchical data structures.

employees = {
    "John": {"age": 30, "department": "IT", "role": "Developer"},
    "Emma": {"age": 27, "department": "HR", "role": "Manager"},
    "Sanjay": {"age": 35, "department": "Finance", "role": "Analyst"}

17. Describe the time complexity of accessing elements in a dictionaryP


Accessing elements in a dictionary in Python has an average time complexity of O(1). This is because dictionaries are implemented using hash tables, allowing keys to be hashed directly to their memory locations.

18. In what situations are lists preferred over dictionaries

Lists are preferred over dictionaries when:

Order Matters: Lists maintain the order of elements, which is useful for tasks like sorting or sequential operations.

Simple Data: Use lists when you only need to store a collection of values without associating them with keys.

Duplicate Items: Lists allow duplicates, unlike dictionaries where keys must be unique.

Iteration: Lists are simpler and faster for tasks requiring repeated access to elements in order.

19. Why are dictionaries considered unordered, and how does that affect data retrieval3

Dictionaries are considered unordered because their elements are stored based on hashed keys, not in a specific sequence. This means you can’t rely on the order of items. However, data retrieval is still fast, as values are accessed directly using their keys, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists: Data is retrieved by index (position), such as my_list[0] for the first item.

Dictionaries: Data is retrieved by key, such as my_dict["name"].

Practical questions :-

In [2]:
1. ## Write a code to create a string with your name and print it

Name="Dark"
print("Dark")

Dark

In [ ]:
2. ## Write a code to find the length of the string "Hello World"

Python= "Hello world"
len(Python)

11

In [ ]:
3. ## Write a code to slice the first 3 characters from the string "Python Programming"

Code= "python programming"
Code[:3]

'pyt'

In [ ]:
4. ## Write a code to convert the string "hello" to uppercase.
b1="hello"
b1.upper()

'HELLO'

In [ ]:
5. ## Write a code to replace the word "apple" with "orange" in the string "I like apple"

fruit= "I like apple"
fruit=fruit.replace("apple","orange")
fruit

'I like orange'

In [ ]:
6. ## Write a code to create a list with numbers 1 to 5 and print it.

list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
7. ## Write a code to append the number 10 to the list [1, 2, 3, 4]

list2=[1,2,3,4]
list2.append(10)
list2

[1, 2, 3, 4, 10]

In [ ]:
8. ## Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list= [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
9. ## Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list= ['a', 'b', 'c', 'd']
my_list[1]
print(my_list[1])

b

In [ ]:
10. ## Write a code to reverse the list [10, 20, 30, 40, 50]

list=[10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [ ]:
11. ## Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple= (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
12. ## Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

t1= ('red', 'green', 'blue', 'yellow')
t1[-2]

'blue'

In [ ]:
13. ## Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t2=(10, 20, 5, 15)
min(t2)

5

In [ ]:
14. ## Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t3=('dog', 'cat', 'rabbit')
t3.index("cat")

1

In [ ]:
15. ## Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=("banana","apple","cherry")
"kiwi" in fruits

False

In [ ]:
16. ## Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set={'a','b','c'}
print(set)

{'c', 'a', 'b'}

In [ ]:
17. ## Write a code to clear all elements from the set {1, 2, 3, 4, 5}

set1= {1, 2, 3, 4, 5}
set1.clear()
set1

set()

In [ ]:
18. ## Write a code to remove the element 4 from the set {1, 2, 3, 4}

set1= {1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [ ]:
19. ## Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

sets1 = {1, 2, 3}
sets2= {3, 4, 5}
sets= set1.union(sets2)
sets

{1, 2, 3, 4, 5}

In [ ]:
20 ## Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

sets1= {1, 2, 3}
sets2= {2, 3, 4}
sets=set1.intersection(sets2)
sets

{2, 3}

In [3]:
21. ## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict={"Name": "Dark","Age":"21","City": "gwalior"}
print(dict)

{'Name': 'Dark', 'Age': '21', 'City': 'gwalior'}

In [ ]:
22. ## Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict= {'name': 'John', 'age': 25}
my_dict["country"]="USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
23. ## Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dictionary= {'name': 'Alice', 'age': 30}
dictionary['name']

'Alice'

In [ ]:
24. ## Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
dict1

{'name': 'Bob', 'city': 'New York'}

In [ ]:
25. ## Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict2= {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict2:
    print('The key city exists! ')
else:
    print('The key city does not exist')

The key city exists!

In [5]:
26. ## Write a code to create a list, a tuple, and a dictionary, and print them all.

d={"name":["sanjay","ajay",1,2],"email":"donhu228234e@gmail.com","contact":("454570945093")}
print(d)

{'name': ['sanjay', 'ajay', 1, 2], 'email': 'donhu228234e@gmail.com', 'contact': '454570945093'}

In [ ]:
27. ## Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

random_numbers = list(range(1, 101, 5))
random_numbers.sort()
print(random_numbers)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [ ]:
28. ## Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [ ]:
29. ## Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [7]:
30. ## Write a code to convert a list of strings into a set.
fruits= ["apple", "banana", "cherry", "date", "elderberry"]
fruits= set(fruits)
print(type(fruits))

<class 'set'>